<template>
  <div>
    <h1>Create Ledger</h1>
    <div class="selector-inner" v-if="!state.listHasAName">
      <label for="partaker"><h2>Ledger's Name</h2></label><br />
      <input
        class="addNameBox"
        type="text"
        v-model="state.ledgerName"
        placeholder="Give your ledger a name"
      />
      <button class="standardButton" @click="addListName">Add Name</button>
    </div>
    <div v-else>
      <form class="setup-list" @submit.prevent="addPartaker">
        <div class="selector-inner">
          <h3>Enter Partakers (The list must have at least three members)</h3>
          <label for="partaker">Partaker </label>
          <input
            class="addPartakerBox"
            type="text"
            v-model="state.partakerName"
            placeholder="Enter name or nickname"
          />
          <input class="standardButton" type="submit" value="add" />
        </div>
      </form>
    </div>

    <div
      class="partakers"
      v-for="partaker of state.partakerList"
      :key="partaker"
    >
      <p>{{ partaker }},</p>
    </div>
    <br />
    <button
      class="standardButton"
      v-if="state.partakerList.length >= 3"
      @click="createLedger"
    >
      Create Ledger
    </button>
    <router-link to="/"
      ><button class="standardButton">Back</button></router-link
    >
  </div>
</template>

<script>
// import axios from 'axios' // axios lo traemos de requester
import { reactive, ref, computed } from 'vue'
import Requester from '../services/RequesterService'

import router from '../router'
import { useStore } from 'vuex'
//  import Api from '../../api/controllers/ledgers'

export default {
  setup() {
    const store = useStore()
    const  requester = new Requester()
    const postRequest = 'http://localhost:3300/api/v1/ledgers'
    const state = reactive({
      listHasAName: false,
      ledgerName: '',
      partakerName: '',
      partakerList: [],
    })
    const addPartaker = () => {
      state.partakerList.push(state.partakerName)
      state.partakerName = ''
    }
    const createLedger = () => {
      const ledger = {
        user: store.state.user,
        partakers: state.partakerList,
        name: state.ledgerName,
      }
      store.dispatch('setLedger', ledger)
      requester.createInDB(postRequest, ledger)
      router.push({ path: '/temporal' })
    }

    const addListName = () => {
      state.listHasAName = true
    }

   
    return {
      state,
      addPartaker,
      createLedger,
      addListName,
    }
  },
}
</script>

<style>
.partakers {
  display: inline-flex;
  padding: 0.35%;
  flex-wrap: wrap;
  gap: 0.5rem;
}
p {
  flex-basis: 25%;
}
.addNameBox,
.addPartakerBox {
  border-radius: 17px;
  margin-right: 0.75%;
}

.standardButton {
  color: #686de0;
  border-radius: 17px;
  margin-top: 2.5%;
}

.standardButton:hover {
  transform: scale(1.15);
  background: #686de0;
  color: white;
}
</style>
