<template>
  <div>
    <h2>Welcome, {{ name }}</h2>
    <div>
     
        <router-link to="/create"> <button class="modeButton">Create New Ledge </button></router-link>
     

      <router-link to="/storage"
        ><button class="modeButton">Open Existing Ledge</button></router-link
      >
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex'
import { ref, onBeforeMount } from 'vue'
import firebase from 'firebase'
export default {
  setup() {
    const store = useStore()
    const user = firebase.auth().currentUser

    const name = ref('')
    onBeforeMount(() => {
      if (user) {
        name.value = user.email.split('@')[0]
        store.dispatch('setUser', name.value)
      }
    })

    return {
      name,
    }
  },
}
</script>

<style>
.modeButton {
  color: #686de0;
  border-radius:17px;
  margin-left:1.5%;
  margin-bottom:1.5%;
}

.modeButton:hover{
  transform:scale(1.15);
  background:#686de0;
  color:white;
}
</style>