<template>
  <div class="login">
    <h2 class="login__title">Please Login</h2>
    <form class="login__form" @submit.prevent="access">
      <input type="text" placeholder="email" v-model="email" />
      <input type="password" placeholder="password" v-model="password"/>
      <input class="login__btn" type="submit" value="Login" />
     <div class="login__link"><p>
        Still not registered? </p>
        <router-link to="/register"> <p>It's very easy!
      </p></router-link> </div>
    </form>
  </div>
</template>

<script>
import { ref } from "vue";
import loginService from '../services/LogService'
export default {
  setup() {
    let login = loginService()
    const email = ref("");
    const password = ref("");

    const access = ()=>{
      login.login(email,password)
    }
    return {
      email,
      password,
      access,
    };
  },
};
</script>

<style>
.login {
  display: flex;
  justify-content: center;
  width: 100;
  flex-wrap: wrap;
}

.login__title {
  text-align: center;
  color:white;
  font-weight: 600;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.login__form > input {
  border-radius: 17px;
  width: 50%;
}

.login__form > .login__btn {
  color:#686DE0;
  width: 17.5%;
}
.login__btn:hover{ 
  transform:scale(1.15);
  background:#686de0;
  color:white;
  border:0.5px solid white;
}

input {
  text-align: center;
  outline-style:none;
}

input:hover{
  opacity:0.85;
}


.login__form,
.login__link {
  display: flex;
  justify-content: center;
}

.login__title,
.login__form,
.login__link {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.login__link{
  color:white;
}
.login__link sub{
  font-size:0.5rem;
  text-decoration-line: none;
}
</style>