<template>
  <div class="register">
    <h1 class="register__title">Register</h1>
    <form class="register__form" @submit.prevent="createAccount">
      <input type="text" placeholder="email" v-model="email" />
      <input type="password" placeholder="password" v-model="password" />
      <input class="register__btn" type="submit" value="Register" />
    </form>
    <p class="register__link">
      Already registered? 
      <router-link to="/login"> Login Here!</router-link>
    </p>
  </div>
</template>

<script>
import { ref } from 'vue'
import registerService from '../services/RegisterService'
export default {
  setup() {
    let register = registerService()
    const email = ref('')
    const password = ref('')

    const createAccount = () => {
      register.register(email, password)
    }

    return {
      createAccount,
      email,
      password,
    }
  },
}
</script>

<style>
.register {
  display: flex;
  justify-content: center;
  width: 100;
  flex-wrap: wrap;
}

.register__title {
  text-align: center;
  color:white;
  font-weight: 600;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.register__form > input {
  border-radius: 17px;
  width: 50%;
}

.register__form > .register__btn {
  color:#686DE0;
  width: 17.5%;
}

.register__btn:hover{ 
  transform:scale(1.15);
  background:#686de0;
  color:white;
  border:0.5px solid white;
}

input {
  text-align: center;
  outline-style:none;
}


.register__form,
.register__link {
  display: flex;
  justify-content: center;
}

.register__title,
.register__form,
.register__link {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.register__link{
  color:white;
}

</style>