<template>
  <div>
    <h2>Select your ledger</h2>
    <div v-for="ledger in state.list" :key="ledger">
      <router-link to="">
        <button class="ledger-buttons" @click="updateInfo(ledger)">
          {{ ledger }}
        </button>
      </router-link>
    </div>

    <h4 v-if="state.list.length === 0">You don't have any ledger yet</h4>
    <router-link to="/"
      ><button class="standardButton">Back</button></router-link
    >
  </div>
</template>

<script>
import { useRouter, useRoute } from 'vue-router'
import Requester from '../services/RequesterService'
import { useStore } from 'vuex'
import { reactive, onBeforeMount } from 'vue'
export default {
  setup() {
    const router = useRouter()
    const requester = new Requester()
    const store = useStore()
    const user = store.state.user
    const emptyList = 0
    const getAllRequest = `http://localhost:3300/api/v1/ledgers/user/${user}`
    const getSingleLedgerRequest = `http://localhost:3300/api/v1/ledgers/ledger/${user}`
    const state = reactive({
      list: [],
    })

    onBeforeMount(async () => {
      const {
        data: { ledgers },
      } = await requester.obtainRequestedInfo(getAllRequest)

      if (ledgers.length > emptyList) {
        for (let list of ledgers) {
          state.list.push(list.name)
        }
      }
    })

    const updateInfo = async (ledger) => {
      console.log(ledger, 'apdeit en estorech')
      const ledgerName = findLedger(ledger)
      const requestedLedger = await requester.obtainRequestedInfo(
        getSingleLedgerRequest + `/${ledgerName}`
      )
      console.log(requestedLedger.data.ledger.expenses, 'riquested')
      const selectedLedger = {
        user: requestedLedger.data.ledger.user,
        ledger: requestedLedger.data.ledger.name,
        partakers: requestedLedger.data.ledger.partakers,
        expenses: requestedLedger.data.ledger.expenses,
      }
      
      store.dispatch('setLedger', selectedLedger)
      console.log(selectedLedger, 'selected')
      router.replace('/temporal')
    }

    const findLedger = (ledger) => {
      const index = state.list.indexOf(ledger)
      return state.list[index]
    }
    
    return {
      state,
      updateInfo,
    }
  },
}
</script>

<style>
.ledger-buttons {
  background-color: navy;
  color: white;
  margin-right: 0.75%;
}

.ledger-buttons:hover {
  transform: scale(1.1);
}

.standardButton {
  color: #686de0;
  border-radius: 17px;
  margin-top: 2.5%;
}

.standardButton:hover {
  transform: scale(1.15);
  background: #686de0;
  color: white;
}
</style>