<template>
  <div>
    <div>
      <Ledger :details="state.details" @delete="erase" @edit="editLedger" @backupLedgerName="k" />
    </div>
    <div>
      <Expense v-if="state.expense" @cancel="state.expense = false"> </Expense>
    </div>
    <br />
    <button class="modeButton" @click="addExpense">Add Expense</button>
    <div><Calculator /></div>

    <router-link to="/"
      ><button class="modeButton" @click="saveAndClose">
        Save Ledger & Close
      </button></router-link
    >
    <button class="modeButton" @click="deleteLedger">Delete Ledger</button>
  </div>
</template>

<script>
import axios from 'axios'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'
import { ref, computed, reactive } from 'vue'
import firebase from 'firebase'
import Ledger from '../components/Ledger'
import Expense from '../components/Expense'
import Calculator from '../components/Calculator'
export default {
  setup() {
    const store = useStore()
    const router = useRouter()
    const state = reactive({
      details: {
        listName: store.state.ledger.ledger,
        partakers: store.state.ledger.partakers,
        user: store.state.user,
        expenses: store.state.ledger.expenses,
      },
      expense: false,
      backupName:'',
    })
    const saveLedger = () => {
      //MAgia negra. Envía datos a mongo wtf!
      const ledgerRef = firebase.database().ref('ledgers')

      const ledger = {
        user: store.state.user,
        listName: store.state.ledger.name,
        partakers: store.state.ledger.partakers,
        expenses: store.state.expenses,
      }
      console.log(ledger)
      store.dispatch('setLedger', ledger)
      ledgerRef.push(ledger)
    }

    const deleteLedger = async () => {
      const user = state.details.user
      const ledgerName = store.state.ledger.ledger 
      await axios.delete(
        `http://localhost:3300/api/v1/ledgers/ledger/${user}/${ledgerName}`
      )
      store.dispatch('setLedger', null)
      router.replace('/storage')
    }

    const updateLedger = async () => {
    console.log('se pide en front');
      //haremos el get primero. Hay que recordar en las notas cómo iba lo de trazar rutas y tal.<
      const user = state.details.user 
      const ledgerName = store.state.ledger.ledger || state.backupName
       const ledger = {
        user: store.state.user,
        listName: store.state.ledger.name ||state.backupName,
        partakers: store.state.ledger.partakers,
        expenses: store.state.expenses,
      } 

      console.log(ledger)
      await axios.patch( `http://localhost:3300/api/v1/ledgers/ledger/${user}/${ledgerName}`, ledger)
       store.dispatch('setLedger', ledger)
    }

    const k= (name)=>{
      state.backupName = name
    }
    

    const addExpense = () => {
      state.expense = true
    }

    const erase = (index) => {
      store.dispatch('updateExpenses', index)
    }
    const reset = () => {
      store.dispatch('resetExpenses')
    }

    const editLedger = (index) => {
      state.expense = true
      store.dispatch('edit', index)
    }

    return {
      state,
      addExpense,
      erase,
      reset,
      editLedger,
      saveLedger,
      deleteLedger,
      updateLedger,
      k,
    }
  },

  methods: {
    saveAndClose() {
      this.$swal('Saved!', 'Your ledger has been saved', 'success')
      this.updateLedger()
      this.reset()
    },
  },

  components: {
    Ledger,
    Expense,
    Calculator,
  },
}
</script>

<style>
.modeButton {
  color: #686de0;
  border-radius: 17px;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  margin-top: 10%;
}

.modeButton:hover {
  transform: scale(1.15);
  background: #686de0;
  color: white;
}
</style>