<template>
  <div>
    <button class="balance-button" v-if="!state.isVisible" @click="showBalance" >Show Final Balance</button>
    <div v-if="state.isVisible" class="overlay">
    <div class="overlay-content">
    <div ><div><h1>Final Balance</h1>  <h5>(The calculation may not be exact and may vary up to a few cents)</h5></div>
    <div  v-for="(member, index) in store.state.ledger.partakers" :key="index">
     
      {{ member }} has paid {{ payerSum(member) }}€ and should have paid
      {{ individualSum(member) }}€. The balance is:
      <strong>
        <b>{{ balance(payerSum(member), individualSum(member))}}€</b> </strong
      > 
    </div>
    <br>
    <div>Total: {{ totalSum.toFixed(2) }}€</div>
<button class="standardButton" @click="showBalance">Close</button>
  </div></div></div> </div>
</template>

<script>
import { useStore } from 'vuex'
import { reactive, computed } from 'vue'
export default {
  setup() {
    const store = useStore()
    const state = reactive({
      isVisible:false,
      expenses: store.state.expenses,
      partaker: {
        hasPaid: 0,
        shouldPay: 0,
      },
    })
    const totalSum = computed(() => {
      let priceArray = []
      if (state.expenses.length === 0) {
        return 0
      }
      for (let article of state.expenses) {
        priceArray.push(Number(article.amount))
      }
      const reducer = (accumulator, currentValue) => accumulator + currentValue
      return priceArray.reduce(reducer)
    })

    const balance = ((hasPaid, shouldPay)=>{
      let balance = hasPaid -shouldPay
      return +(Number.parseFloat(balance).toFixed(2))
    })

    const showBalance = ()=>{
      state.isVisible = !state.isVisible
    }
  
    

    return {
      state,
      totalSum,
      balance,
      store,
      showBalance,
    }
  },

  methods: {
    individualSum(member) {
      let individualArray = [0]
      let index = 0
      for (let article of this.store.state.expenses) {
        index++
        if (this.store.state.expenses[index - 1].sharer.includes(member)) {
          individualArray.push(
            article.amount / this.store.state.expenses[index - 1].sharer.length
          )
        }
      }
      const reducer = (accumulator, currentValue) => accumulator + currentValue
      const finalAmount = individualArray.reduce(reducer).toFixed(2)
      return +(finalAmount)
    },

    payerSum(member) {
      let individualArray = [0]
      let index = 0
      for (let article of this.store.state.expenses) {
        index++
        if (this.store.state.expenses[index - 1].payer.includes(member)) {
          individualArray.push(Number(article.amount))
        }
      }
      const reducer = (accumulator, currentValue) => accumulator + currentValue
      const finalAmount = individualArray.reduce(reducer).toFixed(2)
      return +(finalAmount)
    },
  },
}
</script>

<style>
.balance-button{
 margin-top:17.5%;
 color: #686de0;
  border-radius:17px;
  margin-left:1.5%;
  margin-bottom:1.5%;
  margin-top: 10%;
}

.balance-button:hover{
  transform:scale(1.15);
  background:#686de0;
  color:white;
}
</style>

