<template>
  <div class="overlay">
    <div class="overlay-content">
      <h3>Make sure to complete all the fields</h3>
      <div class="overlay__info">
     <div class="overlay__blank"> <input class="overlay__blank"  type="text" placeholder="Expense" v-model="state.expense" /> (e.g.
      Car Renting, Museum Tickets ...)<br /></div>
      <div class="overlay__blank"><input class="overlay__blank" type="number" placeholder="Amount" v-model="state.amount" /> (e.g.
      12, 25.75 ...)<br /> </div> </div>

      <div class="payer" v-if="!state.payer">
        <label for="members"><h2>Who pays the expense?</h2></label>
        <select name="payers" id="payers" v-model="state.payer">
          <option disabled selected value>-- select a person --</option>
          <option v-for="partaker of state.partakers" :key="partaker">
            {{ partaker }}
          </option>
        </select>
      </div>
      <div v-if="state.payer">
        <h3>Who SHARES the expense?</h3>
        <h5>(At least two member should share this expense)</h5>
        <button @click="selectAll">
          {{ allBoxesChecked ? 'Unselect All' : 'Select All' }}
        </button>
        <br />
        <div v-for="partaker of state.partakers" :key="partaker">
          <input
            @click="selectSharer(partaker)"
            id="name"
            type="checkbox"
            :checked="state.allChecked"
          />
          <label for="name">{{ partaker }}</label>
        </div>
      </div>
      <br />

      <button
        v-if="state.sharer.length > 1 && state.expense && state.amount"
        @click="add"
      >
        {{ store.state.editing ? 'Edit Expense' : 'Add Expense' }}
      </button>
      <button class="standardButton" @click="cancel">Cancel</button>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
import { useStore } from 'vuex'
import { reactive, computed } from 'vue'

export default {
  setup(props, { emit }) {
    //emit siempre segundo parámetro, por eso props está en gris.
    const store = useStore()
    const state = reactive({
      partakers: store.state.ledger.partakers,
      expense: store.state.editing ? store.state.editingExpense.expense : '',
      amount: store.state.editing ? store.state.editingExpense.amount : '',
      payer:  '',
      sharer:  [],
      allChecked: false,
    })
    const cancel = () => {
      emit('cancel')
      store.dispatch('noEditing')
    }

    const selectSharer = (member) => {
      if (state.sharer.includes(member) == false) {
        state.sharer.push(member)
      } else {
        const index = state.sharer.indexOf(member)
        state.sharer.splice(index, 1)
      }
    }

    const add = () => {
      state.sharer = [...new Set(state.sharer)]
      const expenseToAdd = {
        expense: state.expense,
        amount: state.amount,
        payer: state.payer,
        sharer: state.sharer,
      }
      if (state.expense && state.amount && state.payer && state.sharer) {
        if (store.state.editing) {
          editLedger(expenseToAdd)
        } else {
          addNewLedger(expenseToAdd)
        }
        emit('cancel')
        store.dispatch('noEditing')
      }
    }

    const selectAll = () => {
      state.allChecked = !state.allChecked

      if (state.allChecked) {
        [
          ...new Set(
            state.partakers.forEach((element) => state.sharer.push(element))
          ),
        ]
      } else {
        state.sharer = []
      }
    }

    let allBoxesChecked = computed(
      () => state.partakers.length === state.sharer.length
    )

    const addNewLedger = (expenseToAdd) => {
      store.dispatch('setExpenses', expenseToAdd)
    }

    const editLedger = (expenseToAdd) => {
      store.dispatch('editExpense', expenseToAdd)//enviar array
    }

    return {
      state,
      cancel,
      selectSharer,
      add,
      selectAll,
      allBoxesChecked,
      store,
      addNewLedger,
      editLedger,
    }
  },
}
</script>

<style>
.overlay-content {
  /* margin-top: 12.5%;
  margin-left: 12.5%; */
  display: flex;
  flex-direction:column;
  flex-basis:70%;
  justify-content: center;
  align-items:center;
}

.overlay-content > h3{
  text-align:center;
}

.overlay__blank{
  border-radius: 17px;
  margin-bottom:1.5%;
}

.payer{
  display:flex;
  flex-direction:column;
  align-content:center;
}

select{
  color:#686de0;
  border-radius:17px;
}
</style>



 