<template>
  <div>{{details.expenses[0]}} diteils
    <h1>{{ details.listName }}</h1>
    <div v-if="details.expenses.length === 0">
      No expenses found for this ledger
    </div>
    <div class="expenses-list" v-if="details.expenses.length >= 1">
      <div v-for="(expense, index) in details.expenses" :key="index">
        <br />
        <div class="expenses-details">
          {{ details.expenses[index].expenses }} :
          {{ details.expenses[index].amount }} €
        </div>
        <button @click="showAlert(details.expenses[index])">
          View Details
        </button>
        <button @click="edit(details.expenses[index])">Edit</button>
        <button @click="alertRemove(details.expenses[index])">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive } from 'vue'
import { useStore } from 'vuex'

// CommonJS

export default {
  props: ['details'],
  setup(props, { emit }) {
    const store = useStore()
  
    const remove = (expense) => {
      const index = (element) => element === expense
      const emitingIndex = Array.from(store.state.expenses).findIndex(index)
      emit('delete', emitingIndex)
    }

    const requestEditing = (expense)=>{
      const index = (element) => element === expense
      const emitingIndex = Array.from(store.state.expenses).findIndex(index)
      emit('edit', emitingIndex)
    }

    return {
      remove,
      requestEditing,
    }
  },
  methods: {
    showAlert(expense) {
      let sharers = expense.sharer
        .toString()
        .split(',')
        .join(', ')
        .replace(/,(?=[^,]*$)/, ' and')

      this.$swal({
        icon: 'info',
        title: `${expense.expense}: ${expense.amount}€`,
        text: `${expense.payer} paid the article. ${sharers} are sharing the cost`,
      })
    },

alertRemove(expense) {
    this.$swal({
  title: 'Are you sure?',
  text: "You won't be able to recover this information!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    this.remove(expense)
    this.$swal(
      'Deleted!',
      'Your expense has been deleted.',
      'success'
    )
  }
})
  },

  edit(expense){
    this.requestEditing(expense)
  }
  },

  mounted(){
   this.$emit('backupLedgerName', this.details.listName)
   console.log('envía', this.details.listName);
  }
}
</script>

<style>
.expenses-list {
  display: contents;
  justify-items: center;
}

.expenses-details {
  border: 1.5px rgb(129, 19, 49) solid;
  background: turquoise;
}
</style>


