<template>
  <div id="app">
    <div class="header">
      <div class="header__logoBox">
        <div class="header__logo">
          <img class="header__logo-ll" src="./assets/ldlogo.png" />
        </div>
        <div><h5>The easiest way to share expenses</h5></div>
      </div>
      <select
        name="language"
        id="language-selector"
        class="header__languageSelector"
      >
        <option value="English">English <img class="flag" src="./assets/England.png" alt=""></option>
        <option value="Español" disabled> Español (coming soon)</option>
      </select>
    </div>

    <p v-if="ourUser">You are logged as: {{ ourUser }}</p>
    <div v-if="ourUser">
      <button class="logout" @click="logout">Logout</button>
    </div>
    <div class="prueba">
      <router-view />
    </div>
  </div>
</template>

<script>
import { useRouter, useRoute } from 'vue-router'
import { onBeforeMount, computed } from 'vue'
import firebase from 'firebase'
import { useStore } from 'vuex'
import logService from './services/LogService'

export default {
  setup() {
    let logOutService = logService()
    const router = useRouter()
    const route = useRoute()
    const store = useStore()
    let ourUser = computed(() => store.state.user)

    onBeforeMount(() => {
      firebase.auth().onAuthStateChanged((user) => {
        if (!user) {
          router.replace('/login')
        } else if (route.path == '/login' || route.path == '/register') {
          router.replace('/')
        }
      })
    })
    const logout = () => {
      logOutService.logout()
    }

    return {
      ourUser,
      logout,
    }
  },
}
</script>

<style lang="scss">


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  display: flex;
  justify-content: space-between;
}
body {
  height: 100vh;
  background: radial-gradient(
        1.5em 6.28571em at 1.95em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        1.5em 6.28571em at -0.45em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      1.5em 5.5em,
    radial-gradient(
        2.3em 4.57143em at 2.99em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        2.3em 4.57143em at -0.69em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      2.3em 4em,
    radial-gradient(
        3.5em 6.28571em at 4.55em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        3.5em 6.28571em at -1.05em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      3.5em 5.5em,
    linear-gradient(to bottom, #686de0 0%, cyan 100%);
  background-color: #720d0d;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em,
    3.5em 11em, 100% 100%;
  background-repeat: repeat;
  font-family: 'Poppins', sans-serif;
  font-size:100%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.prueba {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin-block-start: -2em;
  margin-left: -0.5em;
  width: 50%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
}

.header__languageSelector {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #686de0;
  border-radius: 17px;
}

h5{
font-family: 'Poppins', sans-serif;
}

input {
  border-width: 0;
  font-family: 'Poppins', sans-serif;
  color: #686de0;
}

.overlay {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

select{
  font-family: 'Poppins', sans-serif;
}

button{
 font-family: 'Poppins', sans-serif;
}

.overlay {
  opacity: 1;
  background: radial-gradient(
        1.5em 6.28571em at 1.95em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        1.5em 6.28571em at -0.45em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      1.5em 5.5em,
    radial-gradient(
        2.3em 4.57143em at 2.99em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        2.3em 4.57143em at -0.69em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      2.3em 4em,
    radial-gradient(
        3.5em 6.28571em at 4.55em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        3.5em 6.28571em at -1.05em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      3.5em 5.5em,
    linear-gradient(to bottom, cyan 0%, #686de0 100%);
}

.logout {
  color: #686de0;
  border-radius: 17px;
}

.logout:hover {
  transform: scale(1.15);
  background: #686de0;
  color: white;
}

.flag{
  width:2%;
  height:auto;
}

/*@media(max-width:650px){
.header{
  justify-content: center;
  flex-direction: column;
  &__logo{
    width:150px;
    align-content: center;
  }
  &__languageSelector{
    width:7.5%;
    content: 'Lan'
  }
}
}*/
</style>
